@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll moderno */
ul::-webkit-scrollbar {
    width: 6px;
}

ul::-webkit-scrollbar-track {
    background: transparent;
}

ul::-webkit-scrollbar-thumb {
    background: #9ca3af; /* gray-400 */
    border-radius: 9999px;
}

ul::-webkit-scrollbar-thumb:hover {
    background: #6b7280; /* gray-500 */
}

/* Firefox */
ul {
    scrollbar-width: thin;
    scrollbar-color: #9ca3af transparent;
}